{% extends "base.html" %}
{% block fullpage %}
 <div id="homemap"></div>

<h1 class="text-center index-head">FOURTRIANGLE</h1>
<h3 class="text-center index-sub-head">La référence en hotels, bars et restaurants en Belgique</h3>

<div class="top-5">
    <h1>Notre top</h1>
    <div class="row">
        {% for e in top5[:9] %}
            <div class="col-md-4">
                <h5><a href="/etablissements/{{e[0].id}}">{{e[0].name}}</a></h5>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="/static/homemap.js"></script>
{% endblock %}
