{% extends "base.html" %}
{% block title %}Bars{% endblock %}
{% block content %}

{% if user.is_admin %}
        <a href="/bars/add" class="btn btn-success">Ajouter un bar</a>
{% endif %}

{% for elem in etablissements %}
    {% set bar = elem[0] %}
    {% set e = bar.etablissement %}
    {% set score = elem[1] %}
    <h1>
        <a href="/bars/{{e.id}}">{{e.name}}</a>
        <small>
            {% if not bar.smoker %}<i class="fa fa-2x">&#128685;</i>{% endif %}
            <span class="stars">
                {% if score %}
                {%for i in range(score|round|int) %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {% endif %}
            </span>
        </small>
    </h1>
{% endfor %}

{% endblock %}
