{% extends "base.html" %}
{% block title %}Hotels{% endblock %}
{% block content %}

{% if user.is_admin %}
        <a href="/hotels/add" class="btn btn-success">Ajouter un hotel</a>
{% endif %}

<div class="row">
    {% for elem in etablissements %}
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
                {% set hotel = elem[0] %}
                {% set e = hotel.etablissement %}
                {% set score = elem[1] %}
                <a href="/hotels/{{e.id}}">
                    <img src="{{e.get_picture()}}" style="height: 15em; width:100%; object-fit: cover;">
                </a>
                <div class="caption">
                  <h3 class="row-fluid text-center">
                      {{e.name}} <a href="/hotels/{{e.id}}" class="btn btn-primary" role="button">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                          Plus d'infos
                      </a>
                  </h3>
                  <p class="row-fluid text-center">
                        <p style="color: red" class="text-center">
                            {% if score %}
                            {%for i in range(score|round|int) %}
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            {% endfor %}
                            {% endif %}
                        </p>
                  </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
