{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

{% for elem in etablissements %}
    {% set restaurant = elem[0] %}
    {% set e = restaurant.etablissement %}
    {% set score = elem[1] %}
    <h1>
        <a href="/restaurants/{{e.id}}">{{e.name}}</a>
        <small>
            <span class="stars">
                {% if score %}
                    {%for i in range(score|round|int) %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                {% endif %}
            </span>
            {% if restaurant.openings[1] %}
                Ouvert pour l'instant
            {% endif %}
        </small>
    </h1>
{% endfor %}

{% endblock %}

