{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}
{% block content %}

{% if user.is_admin %}
        <a href="/restaurants/add" class="btn btn-success">Ajouter un restaurant</a>
{% endif %}

{% for elem in etablissements %}
    {% set restaurant = elem[0] %}
    {% set e = restaurant.etablissement %}
    {% set score = elem[1] %}
    <h1>
        <a href="/restaurants/{{e.id}}">{{e.name}}</a>
        <small>
            <span class="stars">
                {% if score %}
                    {%for i in range(score|round|int) %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                {% endif %}
            </span>
            {% if is_supper %}
                {% if restaurant.openings[day * 2 + 1] %}
                    Ouvert ce soir
                {% else %}
                    Fermé pour l'instant
                {% endif %}
            {% else %}
                {% if restaurant.openings[day * 2] and restaurant.openings[day * 2 + 1] %}
                    Ouvert toute la journée
                {% elif restaurant.openings[day * 2] %}
                    Ouvert ce midi
                {% elif restaurant.openings[day * 2 + 1] %}
                    Ouvert ce soir
                {% else %}
                    Fermé aujourd'hui
                {% endif %}
            {% endif %}
        </small>
    </h1>
{% endfor %}
{% endblock %}

