{% extends "base.html" %}
{% block title %}Profil de {{profile.username}}{% endblock %}
{% block content %}

<h1>
    Profil de {{profile.username}}
</h1>
<img src="{{profile.gravatar()}}">
{% if profile.is_admin %}
    <span class="label label-success">Administrateur</span>
{% endif %}
{% if user.is_admin %}
    {% if profile.id != user.id %}
        {% if profile.is_admin %}
            <a href="/users/{{profile.id}}/unset_admin">Dégrader</a>
        {% else %}
            <a href="/users/{{profile.id}}/set_admin">Promouvoir</a>
        {% endif%}
    {% endif %}
{% endif%}

{% if related %}
    <h1>Utilisateurs semblables</h1>
    {% for u in related %}
        <h1>
            <a href="/users/{{u.id}}">{{u.username}}</a>
            <small>
                {% if u.is_admin %}
                    <span class="label label-success">Administrateur</span>
                {% endif %}
            </small>
        </h1>
    {% endfor %}
{% endif%}

{% endblock %}
