{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block header %}
    <div style="position: relative;">
        <img src="{{e.get_picture()}}" style="object-position: 50% 80%; position: relative;  top: -1.4em; height: 20vh; max-height: 12em;object-fit: cover; width: 100%">
        <h1 style="font-size: 4em; position: absolute; top: 0.1em; text-align: center; width:100%;overflow: hidden; height: 1em;">{{e.name}}</h1>
    </div>
{% endblock %}

{% block content %}

<h1>{{e.name}} <small>par {{e.user.username}}</small></h1>
{% if user.is_admin %}
        <a href="/delete/{{e.id}}" class="btn btn-danger">Supprimer</a>
        <a href="/{{e.type}}s/{{e.id}}/edit" class="btn btn-warning">Editer</a>
{% endif %}

{% block speciation %}{% endblock %}

{% endblock %}
