{% extends "base.html" %}
{% block title %}{{e.name}}{% endblock %}

{% block header %}
    <div style="position: relative;">
        <img src="{{e.get_picture()}}" style="object-position: 50% 80%; position: relative;  top: -1.4em; height: 20vh; max-height: 12em;object-fit: cover; width: 100%">
        <h1 style="font-size: 4em; position: absolute; top: 0.1em; text-align: center; width:100%;overflow: hidden; height: 1em;">{{e.name}}</h1>
    </div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-8">
        <h1>
            {% if e.type == "hotel" %}
                <i class="fa fa-bed" aria-hidden="true"></i>
            {% elif e.type == "restaurant" %}
                <i class="fa fa-cutlery" aria-hidden="true"></i>
            {% elif e.type == "bar" %}
                <i class="fa fa-beer" aria-hidden="true"></i>
            {% endif %}
            {{e.name}}
        </h1>
        {% block speciation %}{% endblock %}

        <h2>Commentaires</h2>
        {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{comment.user.username}}, {{comment.date|humanize_date}}
                    &nbsp;&nbsp;
                    {% for _ in range(comment.score) %}
                        <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                    {% for _ in range(5 - comment.score) %}
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    {% endfor %}
                </div>
                <div class="panel-body">
                    <p>{{comment.text|markdown}}</p>
                </div>
            </div>
        {% else %}
            <p class="text-muted">Il n'y a pas de commentaires pour l'instant...</p>
        {% endfor %}
        {% if should_comment %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajoutez votre commentaire</h3>
                </div>
                <div class="panel-body">
                    {% import "bootstrap/wtf.html" as wtf %}
                    {{wtf.quick_form(commentForm, action="/comment/add/"+e.id|string+"/"+user.id|string)}}
                </div>
            </div>
        {% endif %}
  </div>
  <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Informations</h3>
            </div>
            <div class="panel-body">
                <h4>Tags</h4>
                <p style="line-height: 1.6em;">{% for tag in tags %}
                    <span class="label label-success"><i class="fa fa-tag" aria-hidden="true"></i>
                        {{tag['label.name']}}
                        {% if tag['was_tagged_by_user'] %}
                            &nbsp;<a href="/tags/remove/{{e.id}}/{{tag['label.id']}}"><i class="fa fa-times" aria-hidden="true"></i></a>
                        {% endif %}
                    </span> &nbsp;
                {% endfor %}</p>
                <p><span class="label label-info">
                    <a href="/tags/add/{{e.id}}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Ajouter un nouveau tag
                    </a>
                </span></p>

                <h4>Créateur : {{e.user.username}}</h4>

                {% if user.is_admin %}
                    <h4>Administration</h4>
                    <a href="/delete/{{e.id}}" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Supprimer
                    </a>
                    <a href="/{{e.type}}s/{{e.id}}/edit" class="btn btn-warning btn-sm">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Editer
                    </a>
                {% endif %}
            </div>
        </div>
  </div>
</div>
{% endblock %}
